body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6eff5;
}
.header {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #09a3b4;
    justify-content: space-between;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    background-color: #86CDD8;
    padding: 8px 50px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #09a3b4;
}

.back-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.back-btn:hover {
    text-decoration: underline;
}

.semester-select {
    width: 320px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
}

.semester-select:focus {
    outline: none;
}

#studentProfile {
    background-color: white;
    text-align: right;
    border-radius: 5px;
    padding: 0px 10px 0px 30px;
}

#studentProfile p {
    margin: 5px 0;
}

#courseLists {
    background-color: transparent;
    max-height: none;
    max-width: none;
    overflow: visible;
}

.course-item {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    gap: 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.course-item:hover {
    background-color: #86CDD8;
}

.details-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    width: 500px;
    padding: 25px 30px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.detail-row:last-child {
    border-bottom: none;
}

.detail-label {
    font-weight: bold;
}

.detail-value {
    text-align: right;
}